.inicio{
    background: rgba(238, 238, 238, 0.5);
    height: 100vh; 
}

.casillas{
    border: solid 2px #474747; 
    height: 80px; 
    margin-top: 10px;
    border-radius: 4px;
}
.fuente{
    font-size: 22px;
    font-weight: bold;
}
.recuadroTiro2{
    border-left: solid 2px #474747;
    border-bottom: solid 2px #474747;
    height: 33px;
}
.recuadroTiro2Spare{
    border-left: solid 2px #474747;
    border-bottom: solid 2px #474747;
    height: 33px;
    background-image: linear-gradient(-18deg, #474747 50%, white 50%);
}
.contenedorBola{
    font-size: 90px;
    width: 100px;
    margin: 0 auto;
}
.bola1{
    color: #095fcf;
}
.bola2{
    color: #811b1b;
}
i:hover{
    cursor: pointer;
}